<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.PublicBankStatementDao">

    <resultMap id="sbOrder" type="com.bigdata.model.PublicBankStatement">
        <result column="id" property="id"/>
        <result column="factory_id" property="factoryId"/>
        <result column="voucher_no" property="voucherNo"/>
        <result column="account_no" property="accountNo"/>
        <result column="recipient_account_no" property="recipientAccountNo"/>
        <result column="deal_time" property="dealTime"/>
        <result column="type" property="type"/>
        <result column="debit_amount" property="debitAmount"/>
        <result column="credit_amount" property="creditAmount"/>
        <result column="recipient_bank_no" property="recipientBankNo"/>
        <result column="summary" property="summary"/>
        <result column="use" property="use"/>
        <result column="recipient_company_name" property="recipientCompanyName"/>
        <result column="balance" property="balance"/>
        <result column="description" property="description"/>
        <result column="channel" property="channel"/>
    </resultMap>

    <!--X月前，屏蔽关键字，对公银行流水回款金额-->
    <select id="getLastMonthCreditAmount" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT
            SUM(credit_amount)
        FROM public_bank_statement
        WHERE
            YEAR(deal_time) = #{year}
            AND MONTH(deal_time) = #{month}
            AND factory_id = #{factoryId}
            <foreach collection="keywords" index="index" item="keyword" open="" close="">
                AND locate(recipient_company_name, #{keyword}) = 0
            </foreach>
    </select>
    
</mapper>